In [144]:
import pandas as pd

df = pd.read_csv('96581_supadi_1991_2020_sinop.csv')

C:\Users\gukgu\AppData\Local\Temp\ipykernel_1976\3319051809.py:3: DtypeWarning: Columns (3,7,14,15,16,19,20,23,24,49,55,57,58,60) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('96581_supadi_1991_2020_sinop.csv')

In [145]:
df.head()

,WMO_ID,DATA_TIMESTAMP,RECEIVED_TIMESTAMP,CLOUD_LOW_TYPE_CL,CLOUD_BASE_M_H,CLOUD_PEAK_M,CLOUD_ELEVATION_ANGLE_EC,CLOUD_LOW_MED_AMT_OKTAS,CLOUD_MED_TYPE_CM,CLOUD_HIGH_TYPE_CH,...,CLOUD_LAYER_4_TYPE_C,CLOUD_LAYER_4_HEIGHT_M_HSHS,CLOUD_LAYER_4_AMT_OKTAS_NS,CLOUD_BASE_2_M_H,CLOUD_BASE_3_M_H,CLOUD_PEAK_2_M,CLOUD_DIRECTION_2_ANGLE_DA,CLOUD_ELEVATION_2_ANGLE_EC,ENCODED_SYNOP,OBSERVER_ID
0,96581,2/1/2009 10:00:00 +00,16/2/2016 13:38:55.291936 +00,9.0,300.0,9000.0,2.0,4.0,7,/,...,4.0,3600.0,8.0,330.0,NaN,3000.0,3.0,NaN,NaN,NaN
1,96581,2/1/2009 11:00:00 +00,16/2/2016 13:38:55.359041 +00,9.0,330.0,9000.0,2.0,4.0,7,0,...,4.0,3600.0,6.0,360.0,NaN,3000.0,3.0,NaN,NaN,NaN
2,96581,2/1/2009 12:00:00 +00,16/2/2016 13:38:55.397364 +00,9.0,330.0,9000.0,2.0,4.0,7,0,...,4.0,3600.0,6.0,360.0,NaN,3000.0,3.0,NaN,NaN,NaN
3,96581,13/1/2009 01:00:00 +00,16/2/2016 13:38:55.454217 +00,1.0,360.0,2100.0,NaN,4.0,3,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,96581,13/1/2009 02:00:00 +00,16/2/2016 13:38:55.476923 +00,1.0,360.0,2100.0,NaN,4.0,3,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [146]:
df.columns

Index(['WMO_ID', 'DATA_TIMESTAMP', 'RECEIVED_TIMESTAMP', 'CLOUD_LOW_TYPE_CL',
       'CLOUD_BASE_M_H', 'CLOUD_PEAK_M', 'CLOUD_ELEVATION_ANGLE_EC',
       'CLOUD_LOW_MED_AMT_OKTAS', 'CLOUD_MED_TYPE_CM', 'CLOUD_HIGH_TYPE_CH',
       'CLOUD_MED_DIR_DM', 'CLOUD_MED_HEIGHT_M', 'CLOUD_HIGH_DIR_DH',
       'CLOUD_HIGH_HEIGHT_M', 'CLOUD_COVER_OKTAS_M', 'CLOUD_LAYER_1_TYPE_C',
       'CLOUD_LAYER_2_TYPE_C', 'CLOUD_LAYER_1_HEIGHT_M_HSHS',
       'CLOUD_LAYER_2_HEIGHT_M_HSHS', 'CLOUD_LAYER_1_AMT_OKTAS_NS',
       'CLOUD_LAYER_2_AMT_OKTAS_NS', 'EVAPORATION_24HOURS_MM_EEE',
       'EVAPORATION_EQ_INDICATOR_IE', 'LAND_COND', 'LAND_NOTE',
       'PAST_WEATHER_W1', 'PAST_WEATHER_W2', 'PRESENT_WEATHER_WW',
       'PRESSURE_TEND_3H_MB_PPP', 'PRESSURE_READING_MB', 'PRESSURE_TEMP_C',
       'RAINFALL_24H_RRRR', 'RAINFALL_6H_RRR', 'RAINFALL_INDICATOR_IR',
       'RAINFALL_LAST_MM', 'SOLAR_RAD_24H_JCM2_F24', 'SUNSHINE_H_SSS',
       'TEMP_DEWPOINT_C_TDTDTD', 'TEMP_DRYBULB_C_TTTTTT', 'TEMP_MAX_C_TXTXTX',
       'TEMP_MIN_C_TNTNTN', 'TEMP_WETBULB_C', 'VISIBILITY_VV',
       'WEATHER_INDICATOR_IX', 'WIND_DIR_DEG_DD', 'WIND_INDICATOR_IW',
       'WIND_SPEED_FF', 'CLOUD_DIRECTION_ANGLE_DA', 'CLOUD_MED_COVER_OKTAS',
       'CLOUD_HIGH_COVER_OKTAS', 'RELATIVE_HUMIDITY_PC',
       'PRESSURE_QFF_MB_DERIVED', 'PRESSURE_QFE_MB_DERIVED',
       'PRESSURE_TEND_24H_MB_PPP', 'ENTRY_USER', 'CLOUD_LAYER_3_TYPE_C',
       'CLOUD_LAYER_3_HEIGHT_M_HSHS', 'CLOUD_LAYER_3_AMT_OKTAS_NS',
       'CLOUD_LAYER_4_TYPE_C', 'CLOUD_LAYER_4_HEIGHT_M_HSHS',
       'CLOUD_LAYER_4_AMT_OKTAS_NS', 'CLOUD_BASE_2_M_H', 'CLOUD_BASE_3_M_H',
       'CLOUD_PEAK_2_M', 'CLOUD_DIRECTION_2_ANGLE_DA',
       'CLOUD_ELEVATION_2_ANGLE_EC', 'ENCODED_SYNOP', 'OBSERVER_ID'],
      dtype='object')

In [147]:
df.columns = ['WMO_ID', 'TIME', 'RECEIVED_TIMESTAMP', 'CLOUD_LOW_TYPE_CL',
       'CLOUD_BASE_M_H', 'CLOUD_PEAK_M', 'CLOUD_ELEVATION_ANGLE_EC',
       'CLOUD_LOW_MED_AMT_OKTAS', 'CLOUD_MED_TYPE_CM', 'CLOUD_HIGH_TYPE_CH',
       'CLOUD_MED_DIR_DM', 'CLOUD_MED_HEIGHT_M', 'CLOUD_HIGH_DIR_DH',
       'CLOUD_HIGH_HEIGHT_M', 'CLOUD_COVER_OKTAS_M', 'CLOUD_LAYER_1_TYPE_C',
       'CLOUD_LAYER_2_TYPE_C', 'CLOUD_LAYER_1_HEIGHT_M_HSHS',
       'CLOUD_LAYER_2_HEIGHT_M_HSHS', 'CLOUD_LAYER_1_AMT_OKTAS_NS',
       'CLOUD_LAYER_2_AMT_OKTAS_NS', 'EVAPORATION_24HOURS_MM_EEE',
       'EVAPORATION_EQ_INDICATOR_IE', 'LAND_COND', 'LAND_NOTE',
       'PAST_WEATHER_W1', 'PAST_WEATHER_W2', 'PRESENT_WEATHER_WW',
       'PRESSURE_TEND_3H_MB_PPP', 'PRESSURE_READING_MB', 'PRESSURE_TEMP_C',
       'RAINFALL_24H_RRRR', 'RAINFALL_6H_RRR', 'RAINFALL_INDICATOR_IR',
       'RAINFALL_LAST_MM', 'SOLAR_RAD_24H_JCM2_F24', 'SUNSHINE_H_SSS',
       'TEMP_DEWPOINT_C_TDTDTD', 'TEMP_DRYBULB_C_TTTTTT', 'TEMP_MAX_C_TXTXTX',
       'TEMP_MIN_C_TNTNTN', 'TEMP_WETBULB_C', 'VISIBILITY_VV',
       'WEATHER_INDICATOR_IX', 'WIND_DIR_DEG_DD', 'WIND_INDICATOR_IW',
       'WIND_SPEED_FF', 'CLOUD_DIRECTION_ANGLE_DA', 'CLOUD_MED_COVER_OKTAS',
       'CLOUD_HIGH_COVER_OKTAS', 'RELATIVE_HUMIDITY_PC',
       'PRESSURE_QFF_MB_DERIVED', 'PRESSURE_QFE_MB_DERIVED',
       'PRESSURE_TEND_24H_MB_PPP', 'ENTRY_USER', 'CLOUD_LAYER_3_TYPE_C',
       'CLOUD_LAYER_3_HEIGHT_M_HSHS', 'CLOUD_LAYER_3_AMT_OKTAS_NS',
       'CLOUD_LAYER_4_TYPE_C', 'CLOUD_LAYER_4_HEIGHT_M_HSHS',
       'CLOUD_LAYER_4_AMT_OKTAS_NS', 'CLOUD_BASE_2_M_H', 'CLOUD_BASE_3_M_H',
       'CLOUD_PEAK_2_M', 'CLOUD_DIRECTION_2_ANGLE_DA',
       'CLOUD_ELEVATION_2_ANGLE_EC', 'ENCODED_SYNOP', 'OBSERVER_ID']
df.columns

Index(['WMO_ID', 'TIME', 'RECEIVED_TIMESTAMP', 'CLOUD_LOW_TYPE_CL',
       'CLOUD_BASE_M_H', 'CLOUD_PEAK_M', 'CLOUD_ELEVATION_ANGLE_EC',
       'CLOUD_LOW_MED_AMT_OKTAS', 'CLOUD_MED_TYPE_CM', 'CLOUD_HIGH_TYPE_CH',
       'CLOUD_MED_DIR_DM', 'CLOUD_MED_HEIGHT_M', 'CLOUD_HIGH_DIR_DH',
       'CLOUD_HIGH_HEIGHT_M', 'CLOUD_COVER_OKTAS_M', 'CLOUD_LAYER_1_TYPE_C',
       'CLOUD_LAYER_2_TYPE_C', 'CLOUD_LAYER_1_HEIGHT_M_HSHS',
       'CLOUD_LAYER_2_HEIGHT_M_HSHS', 'CLOUD_LAYER_1_AMT_OKTAS_NS',
       'CLOUD_LAYER_2_AMT_OKTAS_NS', 'EVAPORATION_24HOURS_MM_EEE',
       'EVAPORATION_EQ_INDICATOR_IE', 'LAND_COND', 'LAND_NOTE',
       'PAST_WEATHER_W1', 'PAST_WEATHER_W2', 'PRESENT_WEATHER_WW',
       'PRESSURE_TEND_3H_MB_PPP', 'PRESSURE_READING_MB', 'PRESSURE_TEMP_C',
       'RAINFALL_24H_RRRR', 'RAINFALL_6H_RRR', 'RAINFALL_INDICATOR_IR',
       'RAINFALL_LAST_MM', 'SOLAR_RAD_24H_JCM2_F24', 'SUNSHINE_H_SSS',
       'TEMP_DEWPOINT_C_TDTDTD', 'TEMP_DRYBULB_C_TTTTTT', 'TEMP_MAX_C_TXTXTX',
       'TEMP_MIN_C_TNTNTN', 'TEMP_WETBULB_C', 'VISIBILITY_VV',
       'WEATHER_INDICATOR_IX', 'WIND_DIR_DEG_DD', 'WIND_INDICATOR_IW',
       'WIND_SPEED_FF', 'CLOUD_DIRECTION_ANGLE_DA', 'CLOUD_MED_COVER_OKTAS',
       'CLOUD_HIGH_COVER_OKTAS', 'RELATIVE_HUMIDITY_PC',
       'PRESSURE_QFF_MB_DERIVED', 'PRESSURE_QFE_MB_DERIVED',
       'PRESSURE_TEND_24H_MB_PPP', 'ENTRY_USER', 'CLOUD_LAYER_3_TYPE_C',
       'CLOUD_LAYER_3_HEIGHT_M_HSHS', 'CLOUD_LAYER_3_AMT_OKTAS_NS',
       'CLOUD_LAYER_4_TYPE_C', 'CLOUD_LAYER_4_HEIGHT_M_HSHS',
       'CLOUD_LAYER_4_AMT_OKTAS_NS', 'CLOUD_BASE_2_M_H', 'CLOUD_BASE_3_M_H',
       'CLOUD_PEAK_2_M', 'CLOUD_DIRECTION_2_ANGLE_DA',
       'CLOUD_ELEVATION_2_ANGLE_EC', 'ENCODED_SYNOP', 'OBSERVER_ID'],
      dtype='object')

In [148]:
df.head()

,WMO_ID,TIME,RECEIVED_TIMESTAMP,CLOUD_LOW_TYPE_CL,CLOUD_BASE_M_H,CLOUD_PEAK_M,CLOUD_ELEVATION_ANGLE_EC,CLOUD_LOW_MED_AMT_OKTAS,CLOUD_MED_TYPE_CM,CLOUD_HIGH_TYPE_CH,...,CLOUD_LAYER_4_TYPE_C,CLOUD_LAYER_4_HEIGHT_M_HSHS,CLOUD_LAYER_4_AMT_OKTAS_NS,CLOUD_BASE_2_M_H,CLOUD_BASE_3_M_H,CLOUD_PEAK_2_M,CLOUD_DIRECTION_2_ANGLE_DA,CLOUD_ELEVATION_2_ANGLE_EC,ENCODED_SYNOP,OBSERVER_ID
0,96581,2/1/2009 10:00:00 +00,16/2/2016 13:38:55.291936 +00,9.0,300.0,9000.0,2.0,4.0,7,/,...,4.0,3600.0,8.0,330.0,NaN,3000.0,3.0,NaN,NaN,NaN
1,96581,2/1/2009 11:00:00 +00,16/2/2016 13:38:55.359041 +00,9.0,330.0,9000.0,2.0,4.0,7,0,...,4.0,3600.0,6.0,360.0,NaN,3000.0,3.0,NaN,NaN,NaN
2,96581,2/1/2009 12:00:00 +00,16/2/2016 13:38:55.397364 +00,9.0,330.0,9000.0,2.0,4.0,7,0,...,4.0,3600.0,6.0,360.0,NaN,3000.0,3.0,NaN,NaN,NaN
3,96581,13/1/2009 01:00:00 +00,16/2/2016 13:38:55.454217 +00,1.0,360.0,2100.0,NaN,4.0,3,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,96581,13/1/2009 02:00:00 +00,16/2/2016 13:38:55.476923 +00,1.0,360.0,2100.0,NaN,4.0,3,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [149]:
df[['DATE', 'HOUR', 'trash']] = df['TIME'].str.split(' ', expand=True)
df.drop(columns=['RECEIVED_TIMESTAMP','trash','TIME'],inplace=True)
df.head()

,WMO_ID,CLOUD_LOW_TYPE_CL,CLOUD_BASE_M_H,CLOUD_PEAK_M,CLOUD_ELEVATION_ANGLE_EC,CLOUD_LOW_MED_AMT_OKTAS,CLOUD_MED_TYPE_CM,CLOUD_HIGH_TYPE_CH,CLOUD_MED_DIR_DM,CLOUD_MED_HEIGHT_M,...,CLOUD_LAYER_4_AMT_OKTAS_NS,CLOUD_BASE_2_M_H,CLOUD_BASE_3_M_H,CLOUD_PEAK_2_M,CLOUD_DIRECTION_2_ANGLE_DA,CLOUD_ELEVATION_2_ANGLE_EC,ENCODED_SYNOP,OBSERVER_ID,DATE,HOUR
0,96581,9.0,300.0,9000.0,2.0,4.0,7,/,0.0,3300.0,...,8.0,330.0,NaN,3000.0,3.0,NaN,NaN,NaN,2/1/2009,10:00:00
1,96581,9.0,330.0,9000.0,2.0,4.0,7,0,0.0,3300.0,...,6.0,360.0,NaN,3000.0,3.0,NaN,NaN,NaN,2/1/2009,11:00:00
2,96581,9.0,330.0,9000.0,2.0,4.0,7,0,0.0,3300.0,...,6.0,360.0,NaN,3000.0,3.0,NaN,NaN,NaN,2/1/2009,12:00:00
3,96581,1.0,360.0,2100.0,NaN,4.0,3,1,0.0,3300.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13/1/2009,01:00:00
4,96581,1.0,360.0,2100.0,NaN,4.0,3,1,0.0,3600.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13/1/2009,02:00:00

In [150]:
new_df = df[['WMO_ID', 'DATE', 'HOUR', 'CLOUD_LOW_TYPE_CL',
       'CLOUD_BASE_M_H', 'CLOUD_PEAK_M', 'CLOUD_ELEVATION_ANGLE_EC',
       'CLOUD_LOW_MED_AMT_OKTAS', 'CLOUD_MED_TYPE_CM', 'CLOUD_HIGH_TYPE_CH',
       'CLOUD_MED_DIR_DM', 'CLOUD_MED_HEIGHT_M', 'CLOUD_HIGH_DIR_DH',
       'CLOUD_HIGH_HEIGHT_M', 'CLOUD_COVER_OKTAS_M', 'CLOUD_LAYER_1_TYPE_C',
       'CLOUD_LAYER_2_TYPE_C', 'CLOUD_LAYER_1_HEIGHT_M_HSHS',
       'CLOUD_LAYER_2_HEIGHT_M_HSHS', 'CLOUD_LAYER_1_AMT_OKTAS_NS',
       'CLOUD_LAYER_2_AMT_OKTAS_NS', 'EVAPORATION_24HOURS_MM_EEE',
       'EVAPORATION_EQ_INDICATOR_IE', 'LAND_COND', 'LAND_NOTE',
       'PAST_WEATHER_W1', 'PAST_WEATHER_W2', 'PRESENT_WEATHER_WW',
       'PRESSURE_TEND_3H_MB_PPP', 'PRESSURE_READING_MB', 'PRESSURE_TEMP_C',
       'RAINFALL_24H_RRRR', 'RAINFALL_6H_RRR', 'RAINFALL_INDICATOR_IR',
       'RAINFALL_LAST_MM', 'SOLAR_RAD_24H_JCM2_F24', 'SUNSHINE_H_SSS',
       'TEMP_DEWPOINT_C_TDTDTD', 'TEMP_DRYBULB_C_TTTTTT', 'TEMP_MAX_C_TXTXTX',
       'TEMP_MIN_C_TNTNTN', 'TEMP_WETBULB_C', 'VISIBILITY_VV',
       'WEATHER_INDICATOR_IX', 'WIND_DIR_DEG_DD', 'WIND_INDICATOR_IW',
       'WIND_SPEED_FF', 'CLOUD_DIRECTION_ANGLE_DA', 'CLOUD_MED_COVER_OKTAS',
       'CLOUD_HIGH_COVER_OKTAS', 'RELATIVE_HUMIDITY_PC',
       'PRESSURE_QFF_MB_DERIVED', 'PRESSURE_QFE_MB_DERIVED',
       'PRESSURE_TEND_24H_MB_PPP', 'ENTRY_USER', 'CLOUD_LAYER_3_TYPE_C',
       'CLOUD_LAYER_3_HEIGHT_M_HSHS', 'CLOUD_LAYER_3_AMT_OKTAS_NS',
       'CLOUD_LAYER_4_TYPE_C', 'CLOUD_LAYER_4_HEIGHT_M_HSHS',
       'CLOUD_LAYER_4_AMT_OKTAS_NS', 'CLOUD_BASE_2_M_H', 'CLOUD_BASE_3_M_H',
       'CLOUD_PEAK_2_M', 'CLOUD_DIRECTION_2_ANGLE_DA',
       'CLOUD_ELEVATION_2_ANGLE_EC', 'ENCODED_SYNOP', 'OBSERVER_ID']]
new_df.head()

,WMO_ID,DATE,HOUR,CLOUD_LOW_TYPE_CL,CLOUD_BASE_M_H,CLOUD_PEAK_M,CLOUD_ELEVATION_ANGLE_EC,CLOUD_LOW_MED_AMT_OKTAS,CLOUD_MED_TYPE_CM,CLOUD_HIGH_TYPE_CH,...,CLOUD_LAYER_4_TYPE_C,CLOUD_LAYER_4_HEIGHT_M_HSHS,CLOUD_LAYER_4_AMT_OKTAS_NS,CLOUD_BASE_2_M_H,CLOUD_BASE_3_M_H,CLOUD_PEAK_2_M,CLOUD_DIRECTION_2_ANGLE_DA,CLOUD_ELEVATION_2_ANGLE_EC,ENCODED_SYNOP,OBSERVER_ID
0,96581,2/1/2009,10:00:00,9.0,300.0,9000.0,2.0,4.0,7,/,...,4.0,3600.0,8.0,330.0,NaN,3000.0,3.0,NaN,NaN,NaN
1,96581,2/1/2009,11:00:00,9.0,330.0,9000.0,2.0,4.0,7,0,...,4.0,3600.0,6.0,360.0,NaN,3000.0,3.0,NaN,NaN,NaN
2,96581,2/1/2009,12:00:00,9.0,330.0,9000.0,2.0,4.0,7,0,...,4.0,3600.0,6.0,360.0,NaN,3000.0,3.0,NaN,NaN,NaN
3,96581,13/1/2009,01:00:00,1.0,360.0,2100.0,NaN,4.0,3,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,96581,13/1/2009,02:00:00,1.0,360.0,2100.0,NaN,4.0,3,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [151]:
df[['DD', 'MM', 'YY']] = df['DATE'].str.split('/', expand=True)
df[['HH', 'Trash_1', 'Trash_2']] = df['HOUR'].str.split(':', expand=True)
df.drop(columns=['Trash_1','Trash_2'],inplace=True)
df.head()

,WMO_ID,CLOUD_LOW_TYPE_CL,CLOUD_BASE_M_H,CLOUD_PEAK_M,CLOUD_ELEVATION_ANGLE_EC,CLOUD_LOW_MED_AMT_OKTAS,CLOUD_MED_TYPE_CM,CLOUD_HIGH_TYPE_CH,CLOUD_MED_DIR_DM,CLOUD_MED_HEIGHT_M,...,CLOUD_DIRECTION_2_ANGLE_DA,CLOUD_ELEVATION_2_ANGLE_EC,ENCODED_SYNOP,OBSERVER_ID,DATE,HOUR,DD,MM,YY,HH
0,96581,9.0,300.0,9000.0,2.0,4.0,7,/,0.0,3300.0,...,3.0,NaN,NaN,NaN,2/1/2009,10:00:00,2,1,2009,10
1,96581,9.0,330.0,9000.0,2.0,4.0,7,0,0.0,3300.0,...,3.0,NaN,NaN,NaN,2/1/2009,11:00:00,2,1,2009,11
2,96581,9.0,330.0,9000.0,2.0,4.0,7,0,0.0,3300.0,...,3.0,NaN,NaN,NaN,2/1/2009,12:00:00,2,1,2009,12
3,96581,1.0,360.0,2100.0,NaN,4.0,3,1,0.0,3300.0,...,NaN,NaN,NaN,NaN,13/1/2009,01:00:00,13,1,2009,01
4,96581,1.0,360.0,2100.0,NaN,4.0,3,1,0.0,3600.0,...,NaN,NaN,NaN,NaN,13/1/2009,02:00:00,13,1,2009,02

In [152]:
df.columns

Index(['WMO_ID', 'CLOUD_LOW_TYPE_CL', 'CLOUD_BASE_M_H', 'CLOUD_PEAK_M',
       'CLOUD_ELEVATION_ANGLE_EC', 'CLOUD_LOW_MED_AMT_OKTAS',
       'CLOUD_MED_TYPE_CM', 'CLOUD_HIGH_TYPE_CH', 'CLOUD_MED_DIR_DM',
       'CLOUD_MED_HEIGHT_M', 'CLOUD_HIGH_DIR_DH', 'CLOUD_HIGH_HEIGHT_M',
       'CLOUD_COVER_OKTAS_M', 'CLOUD_LAYER_1_TYPE_C', 'CLOUD_LAYER_2_TYPE_C',
       'CLOUD_LAYER_1_HEIGHT_M_HSHS', 'CLOUD_LAYER_2_HEIGHT_M_HSHS',
       'CLOUD_LAYER_1_AMT_OKTAS_NS', 'CLOUD_LAYER_2_AMT_OKTAS_NS',
       'EVAPORATION_24HOURS_MM_EEE', 'EVAPORATION_EQ_INDICATOR_IE',
       'LAND_COND', 'LAND_NOTE', 'PAST_WEATHER_W1', 'PAST_WEATHER_W2',
       'PRESENT_WEATHER_WW', 'PRESSURE_TEND_3H_MB_PPP', 'PRESSURE_READING_MB',
       'PRESSURE_TEMP_C', 'RAINFALL_24H_RRRR', 'RAINFALL_6H_RRR',
       'RAINFALL_INDICATOR_IR', 'RAINFALL_LAST_MM', 'SOLAR_RAD_24H_JCM2_F24',
       'SUNSHINE_H_SSS', 'TEMP_DEWPOINT_C_TDTDTD', 'TEMP_DRYBULB_C_TTTTTT',
       'TEMP_MAX_C_TXTXTX', 'TEMP_MIN_C_TNTNTN', 'TEMP_WETBULB_C',
       'VISIBILITY_VV', 'WEATHER_INDICATOR_IX', 'WIND_DIR_DEG_DD',
       'WIND_INDICATOR_IW', 'WIND_SPEED_FF', 'CLOUD_DIRECTION_ANGLE_DA',
       'CLOUD_MED_COVER_OKTAS', 'CLOUD_HIGH_COVER_OKTAS',
       'RELATIVE_HUMIDITY_PC', 'PRESSURE_QFF_MB_DERIVED',
       'PRESSURE_QFE_MB_DERIVED', 'PRESSURE_TEND_24H_MB_PPP', 'ENTRY_USER',
       'CLOUD_LAYER_3_TYPE_C', 'CLOUD_LAYER_3_HEIGHT_M_HSHS',
       'CLOUD_LAYER_3_AMT_OKTAS_NS', 'CLOUD_LAYER_4_TYPE_C',
       'CLOUD_LAYER_4_HEIGHT_M_HSHS', 'CLOUD_LAYER_4_AMT_OKTAS_NS',
       'CLOUD_BASE_2_M_H', 'CLOUD_BASE_3_M_H', 'CLOUD_PEAK_2_M',
       'CLOUD_DIRECTION_2_ANGLE_DA', 'CLOUD_ELEVATION_2_ANGLE_EC',
       'ENCODED_SYNOP', 'OBSERVER_ID', 'DATE', 'HOUR', 'DD', 'MM', 'YY', 'HH'],
      dtype='object')

In [153]:
df['Station'] = 'Stasiun Meteorologi Supadio'
df

,WMO_ID,CLOUD_LOW_TYPE_CL,CLOUD_BASE_M_H,CLOUD_PEAK_M,CLOUD_ELEVATION_ANGLE_EC,CLOUD_LOW_MED_AMT_OKTAS,CLOUD_MED_TYPE_CM,CLOUD_HIGH_TYPE_CH,CLOUD_MED_DIR_DM,CLOUD_MED_HEIGHT_M,...,CLOUD_ELEVATION_2_ANGLE_EC,ENCODED_SYNOP,OBSERVER_ID,DATE,HOUR,DD,MM,YY,HH,Station
0,96581,9.0,300.0,9000.0,2.0,4.0,7,/,0.0,3300.0,...,NaN,NaN,NaN,2/1/2009,10:00:00,2,1,2009,10,Stasiun Meteorologi Supadio
1,96581,9.0,330.0,9000.0,2.0,4.0,7,0,0.0,3300.0,...,NaN,NaN,NaN,2/1/2009,11:00:00,2,1,2009,11,Stasiun Meteorologi Supadio
2,96581,9.0,330.0,9000.0,2.0,4.0,7,0,0.0,3300.0,...,NaN,NaN,NaN,2/1/2009,12:00:00,2,1,2009,12,Stasiun Meteorologi Supadio
3,96581,1.0,360.0,2100.0,NaN,4.0,3,1,0.0,3300.0,...,NaN,NaN,NaN,13/1/2009,01:00:00,13,1,2009,01,Stasiun Meteorologi Supadio
4,96581,1.0,360.0,2100.0,NaN,4.0,3,1,0.0,3600.0,...,NaN,NaN,NaN,13/1/2009,02:00:00,13,1,2009,02,Stasiun Meteorologi Supadio
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57805,96581,1,270.0,NaN,NaN,5,7,/,0.0,3600.0,...,NaN,SIID62 WIOO 311900\nAAXX 31194 \n96581 42356 8...,2152.0,31/12/2020,19:00:00,31,12,2020,19,Stasiun Meteorologi Supadio
57806,96581,1,270.0,NaN,NaN,5,7,/,0.0,3600.0,...,NaN,SIID62 WIOO 312000\nAAXX 31204 \n96581 42356 8...,2152.0,31/12/2020,20:00:00,31,12,2020,20,Stasiun Meteorologi Supadio
57807,96581,1,270.0,NaN,NaN,5,7,/,0.0,3600.0,...,NaN,SIID62 WIOO 312100\nAAXX 31214 \n96581 32356 8...,2152.0,31/12/2020,21:00:00,31,12,2020,21,Stasiun Meteorologi Supadio
57808,96581,1,270.0,NaN,NaN,5,7,/,0.0,3600.0,...,NaN,SIID62 WIOO 312200\nAAXX 31224 \n96581 42356 8...,2152.0,31/12/2020,22:00:00,31,12,2020,22,Stasiun Meteorologi Supadio
57809,96581,1,240.0,NaN,NaN,5,7,/,0.0,3600.0,...,NaN,SIID62 WIOO 312300\nAAXX 31234 \n96581 42356 8...,2152.0,31/12/2020,23:00:00,31,12,2020,23,Stasiun Meteorologi Supadio

In [154]:
df.columns

Index(['WMO_ID', 'CLOUD_LOW_TYPE_CL', 'CLOUD_BASE_M_H', 'CLOUD_PEAK_M',
       'CLOUD_ELEVATION_ANGLE_EC', 'CLOUD_LOW_MED_AMT_OKTAS',
       'CLOUD_MED_TYPE_CM', 'CLOUD_HIGH_TYPE_CH', 'CLOUD_MED_DIR_DM',
       'CLOUD_MED_HEIGHT_M', 'CLOUD_HIGH_DIR_DH', 'CLOUD_HIGH_HEIGHT_M',
       'CLOUD_COVER_OKTAS_M', 'CLOUD_LAYER_1_TYPE_C', 'CLOUD_LAYER_2_TYPE_C',
       'CLOUD_LAYER_1_HEIGHT_M_HSHS', 'CLOUD_LAYER_2_HEIGHT_M_HSHS',
       'CLOUD_LAYER_1_AMT_OKTAS_NS', 'CLOUD_LAYER_2_AMT_OKTAS_NS',
       'EVAPORATION_24HOURS_MM_EEE', 'EVAPORATION_EQ_INDICATOR_IE',
       'LAND_COND', 'LAND_NOTE', 'PAST_WEATHER_W1', 'PAST_WEATHER_W2',
       'PRESENT_WEATHER_WW', 'PRESSURE_TEND_3H_MB_PPP', 'PRESSURE_READING_MB',
       'PRESSURE_TEMP_C', 'RAINFALL_24H_RRRR', 'RAINFALL_6H_RRR',
       'RAINFALL_INDICATOR_IR', 'RAINFALL_LAST_MM', 'SOLAR_RAD_24H_JCM2_F24',
       'SUNSHINE_H_SSS', 'TEMP_DEWPOINT_C_TDTDTD', 'TEMP_DRYBULB_C_TTTTTT',
       'TEMP_MAX_C_TXTXTX', 'TEMP_MIN_C_TNTNTN', 'TEMP_WETBULB_C',
       'VISIBILITY_VV', 'WEATHER_INDICATOR_IX', 'WIND_DIR_DEG_DD',
       'WIND_INDICATOR_IW', 'WIND_SPEED_FF', 'CLOUD_DIRECTION_ANGLE_DA',
       'CLOUD_MED_COVER_OKTAS', 'CLOUD_HIGH_COVER_OKTAS',
       'RELATIVE_HUMIDITY_PC', 'PRESSURE_QFF_MB_DERIVED',
       'PRESSURE_QFE_MB_DERIVED', 'PRESSURE_TEND_24H_MB_PPP', 'ENTRY_USER',
       'CLOUD_LAYER_3_TYPE_C', 'CLOUD_LAYER_3_HEIGHT_M_HSHS',
       'CLOUD_LAYER_3_AMT_OKTAS_NS', 'CLOUD_LAYER_4_TYPE_C',
       'CLOUD_LAYER_4_HEIGHT_M_HSHS', 'CLOUD_LAYER_4_AMT_OKTAS_NS',
       'CLOUD_BASE_2_M_H', 'CLOUD_BASE_3_M_H', 'CLOUD_PEAK_2_M',
       'CLOUD_DIRECTION_2_ANGLE_DA', 'CLOUD_ELEVATION_2_ANGLE_EC',
       'ENCODED_SYNOP', 'OBSERVER_ID', 'DATE', 'HOUR', 'DD', 'MM', 'YY', 'HH',
       'Station'],
      dtype='object')