In [25]:
import pandas as pd

df = pd.read_csv('96581_supadi_1991_2020_sinop.csv')

C:\Users\gukgu\AppData\Local\Temp\ipykernel_1976\3319051809.py:3: DtypeWarning: Columns (3,7,14,15,16,19,20,23,24,49,55,57,58,60) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('96581_supadi_1991_2020_sinop.csv')

In [26]:
df.head()

,WMO_ID,DATA_TIMESTAMP,RECEIVED_TIMESTAMP,CLOUD_LOW_TYPE_CL,CLOUD_BASE_M_H,CLOUD_PEAK_M,CLOUD_ELEVATION_ANGLE_EC,CLOUD_LOW_MED_AMT_OKTAS,CLOUD_MED_TYPE_CM,CLOUD_HIGH_TYPE_CH,...,CLOUD_LAYER_4_TYPE_C,CLOUD_LAYER_4_HEIGHT_M_HSHS,CLOUD_LAYER_4_AMT_OKTAS_NS,CLOUD_BASE_2_M_H,CLOUD_BASE_3_M_H,CLOUD_PEAK_2_M,CLOUD_DIRECTION_2_ANGLE_DA,CLOUD_ELEVATION_2_ANGLE_EC,ENCODED_SYNOP,OBSERVER_ID
0,96581,2/1/2009 10:00:00 +00,16/2/2016 13:38:55.291936 +00,9.0,300.0,9000.0,2.0,4.0,7,/,...,4.0,3600.0,8.0,330.0,NaN,3000.0,3.0,NaN,NaN,NaN
1,96581,2/1/2009 11:00:00 +00,16/2/2016 13:38:55.359041 +00,9.0,330.0,9000.0,2.0,4.0,7,0,...,4.0,3600.0,6.0,360.0,NaN,3000.0,3.0,NaN,NaN,NaN
2,96581,2/1/2009 12:00:00 +00,16/2/2016 13:38:55.397364 +00,9.0,330.0,9000.0,2.0,4.0,7,0,...,4.0,3600.0,6.0,360.0,NaN,3000.0,3.0,NaN,NaN,NaN
3,96581,13/1/2009 01:00:00 +00,16/2/2016 13:38:55.454217 +00,1.0,360.0,2100.0,NaN,4.0,3,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,96581,13/1/2009 02:00:00 +00,16/2/2016 13:38:55.476923 +00,1.0,360.0,2100.0,NaN,4.0,3,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
df.columns

Index(['WMO_ID', 'DATA_TIMESTAMP', 'RECEIVED_TIMESTAMP', 'CLOUD_LOW_TYPE_CL',
       'CLOUD_BASE_M_H', 'CLOUD_PEAK_M', 'CLOUD_ELEVATION_ANGLE_EC',
       'CLOUD_LOW_MED_AMT_OKTAS', 'CLOUD_MED_TYPE_CM', 'CLOUD_HIGH_TYPE_CH',
       'CLOUD_MED_DIR_DM', 'CLOUD_MED_HEIGHT_M', 'CLOUD_HIGH_DIR_DH',
       'CLOUD_HIGH_HEIGHT_M', 'CLOUD_COVER_OKTAS_M', 'CLOUD_LAYER_1_TYPE_C',
       'CLOUD_LAYER_2_TYPE_C', 'CLOUD_LAYER_1_HEIGHT_M_HSHS',
       'CLOUD_LAYER_2_HEIGHT_M_HSHS', 'CLOUD_LAYER_1_AMT_OKTAS_NS',
       'CLOUD_LAYER_2_AMT_OKTAS_NS', 'EVAPORATION_24HOURS_MM_EEE',
       'EVAPORATION_EQ_INDICATOR_IE', 'LAND_COND', 'LAND_NOTE',
       'PAST_WEATHER_W1', 'PAST_WEATHER_W2', 'PRESENT_WEATHER_WW',
       'PRESSURE_TEND_3H_MB_PPP', 'PRESSURE_READING_MB', 'PRESSURE_TEMP_C',
       'RAINFALL_24H_RRRR', 'RAINFALL_6H_RRR', 'RAINFALL_INDICATOR_IR',
       'RAINFALL_LAST_MM', 'SOLAR_RAD_24H_JCM2_F24', 'SUNSHINE_H_SSS',
       'TEMP_DEWPOINT_C_TDTDTD', 'TEMP_DRYBULB_C_TTTTTT', 'TEMP_MAX_C_TXTXTX',
       'TEMP_MIN_C_TNTNTN', 'TEMP_WETBULB_C', 'VISIBILITY_VV',
       'WEATHER_INDICATOR_IX', 'WIND_DIR_DEG_DD', 'WIND_INDICATOR_IW',
       'WIND_SPEED_FF', 'CLOUD_DIRECTION_ANGLE_DA', 'CLOUD_MED_COVER_OKTAS',
       'CLOUD_HIGH_COVER_OKTAS', 'RELATIVE_HUMIDITY_PC',
       'PRESSURE_QFF_MB_DERIVED', 'PRESSURE_QFE_MB_DERIVED',
       'PRESSURE_TEND_24H_MB_PPP', 'ENTRY_USER', 'CLOUD_LAYER_3_TYPE_C',
       'CLOUD_LAYER_3_HEIGHT_M_HSHS', 'CLOUD_LAYER_3_AMT_OKTAS_NS',
       'CLOUD_LAYER_4_TYPE_C', 'CLOUD_LAYER_4_HEIGHT_M_HSHS',
       'CLOUD_LAYER_4_AMT_OKTAS_NS', 'CLOUD_BASE_2_M_H', 'CLOUD_BASE_3_M_H',
       'CLOUD_PEAK_2_M', 'CLOUD_DIRECTION_2_ANGLE_DA',
       'CLOUD_ELEVATION_2_ANGLE_EC', 'ENCODED_SYNOP', 'OBSERVER_ID'],
      dtype='object')

In [30]:
df.columns = ['WMO_ID', 'WAKTU', 'RECEIVED_TIMESTAMP', 'CLOUD_LOW_TYPE_CL',
       'CLOUD_BASE_M_H', 'CLOUD_PEAK_M', 'CLOUD_ELEVATION_ANGLE_EC',
       'CLOUD_LOW_MED_AMT_OKTAS', 'CLOUD_MED_TYPE_CM', 'CLOUD_HIGH_TYPE_CH',
       'CLOUD_MED_DIR_DM', 'CLOUD_MED_HEIGHT_M', 'CLOUD_HIGH_DIR_DH',
       'CLOUD_HIGH_HEIGHT_M', 'CLOUD_COVER_OKTAS_M', 'CLOUD_LAYER_1_TYPE_C',
       'CLOUD_LAYER_2_TYPE_C', 'CLOUD_LAYER_1_HEIGHT_M_HSHS',
       'CLOUD_LAYER_2_HEIGHT_M_HSHS', 'CLOUD_LAYER_1_AMT_OKTAS_NS',
       'CLOUD_LAYER_2_AMT_OKTAS_NS', 'EVAPORATION_24HOURS_MM_EEE',
       'EVAPORATION_EQ_INDICATOR_IE', 'LAND_COND', 'LAND_NOTE',
       'PAST_WEATHER_W1', 'PAST_WEATHER_W2', 'PRESENT_WEATHER_WW',
       'PRESSURE_TEND_3H_MB_PPP', 'PRESSURE_READING_MB', 'PRESSURE_TEMP_C',
       'RAINFALL_24H_RRRR', 'RAINFALL_6H_RRR', 'RAINFALL_INDICATOR_IR',
       'RAINFALL_LAST_MM', 'SOLAR_RAD_24H_JCM2_F24', 'SUNSHINE_H_SSS',
       'TEMP_DEWPOINT_C_TDTDTD', 'TEMP_DRYBULB_C_TTTTTT', 'TEMP_MAX_C_TXTXTX',
       'TEMP_MIN_C_TNTNTN', 'TEMP_WETBULB_C', 'VISIBILITY_VV',
       'WEATHER_INDICATOR_IX', 'WIND_DIR_DEG_DD', 'WIND_INDICATOR_IW',
       'WIND_SPEED_FF', 'CLOUD_DIRECTION_ANGLE_DA', 'CLOUD_MED_COVER_OKTAS',
       'CLOUD_HIGH_COVER_OKTAS', 'RELATIVE_HUMIDITY_PC',
       'PRESSURE_QFF_MB_DERIVED', 'PRESSURE_QFE_MB_DERIVED',
       'PRESSURE_TEND_24H_MB_PPP', 'ENTRY_USER', 'CLOUD_LAYER_3_TYPE_C',
       'CLOUD_LAYER_3_HEIGHT_M_HSHS', 'CLOUD_LAYER_3_AMT_OKTAS_NS',
       'CLOUD_LAYER_4_TYPE_C', 'CLOUD_LAYER_4_HEIGHT_M_HSHS',
       'CLOUD_LAYER_4_AMT_OKTAS_NS', 'CLOUD_BASE_2_M_H', 'CLOUD_BASE_3_M_H',
       'CLOUD_PEAK_2_M', 'CLOUD_DIRECTION_2_ANGLE_DA',
       'CLOUD_ELEVATION_2_ANGLE_EC', 'ENCODED_SYNOP', 'OBSERVER_ID']
df.columns

Index(['WMO_ID', 'WAKTU', 'RECEIVED_TIMESTAMP', 'CLOUD_LOW_TYPE_CL',
       'CLOUD_BASE_M_H', 'CLOUD_PEAK_M', 'CLOUD_ELEVATION_ANGLE_EC',
       'CLOUD_LOW_MED_AMT_OKTAS', 'CLOUD_MED_TYPE_CM', 'CLOUD_HIGH_TYPE_CH',
       'CLOUD_MED_DIR_DM', 'CLOUD_MED_HEIGHT_M', 'CLOUD_HIGH_DIR_DH',
       'CLOUD_HIGH_HEIGHT_M', 'CLOUD_COVER_OKTAS_M', 'CLOUD_LAYER_1_TYPE_C',
       'CLOUD_LAYER_2_TYPE_C', 'CLOUD_LAYER_1_HEIGHT_M_HSHS',
       'CLOUD_LAYER_2_HEIGHT_M_HSHS', 'CLOUD_LAYER_1_AMT_OKTAS_NS',
       'CLOUD_LAYER_2_AMT_OKTAS_NS', 'EVAPORATION_24HOURS_MM_EEE',
       'EVAPORATION_EQ_INDICATOR_IE', 'LAND_COND', 'LAND_NOTE',
       'PAST_WEATHER_W1', 'PAST_WEATHER_W2', 'PRESENT_WEATHER_WW',
       'PRESSURE_TEND_3H_MB_PPP', 'PRESSURE_READING_MB', 'PRESSURE_TEMP_C',
       'RAINFALL_24H_RRRR', 'RAINFALL_6H_RRR', 'RAINFALL_INDICATOR_IR',
       'RAINFALL_LAST_MM', 'SOLAR_RAD_24H_JCM2_F24', 'SUNSHINE_H_SSS',
       'TEMP_DEWPOINT_C_TDTDTD', 'TEMP_DRYBULB_C_TTTTTT', 'TEMP_MAX_C_TXTXTX',
       'TEMP_MIN_C_TNTNTN', 'TEMP_WETBULB_C', 'VISIBILITY_VV',
       'WEATHER_INDICATOR_IX', 'WIND_DIR_DEG_DD', 'WIND_INDICATOR_IW',
       'WIND_SPEED_FF', 'CLOUD_DIRECTION_ANGLE_DA', 'CLOUD_MED_COVER_OKTAS',
       'CLOUD_HIGH_COVER_OKTAS', 'RELATIVE_HUMIDITY_PC',
       'PRESSURE_QFF_MB_DERIVED', 'PRESSURE_QFE_MB_DERIVED',
       'PRESSURE_TEND_24H_MB_PPP', 'ENTRY_USER', 'CLOUD_LAYER_3_TYPE_C',
       'CLOUD_LAYER_3_HEIGHT_M_HSHS', 'CLOUD_LAYER_3_AMT_OKTAS_NS',
       'CLOUD_LAYER_4_TYPE_C', 'CLOUD_LAYER_4_HEIGHT_M_HSHS',
       'CLOUD_LAYER_4_AMT_OKTAS_NS', 'CLOUD_BASE_2_M_H', 'CLOUD_BASE_3_M_H',
       'CLOUD_PEAK_2_M', 'CLOUD_DIRECTION_2_ANGLE_DA',
       'CLOUD_ELEVATION_2_ANGLE_EC', 'ENCODED_SYNOP', 'OBSERVER_ID'],
      dtype='object')

In [31]:
df.head()

,WMO_ID,WAKTU,RECEIVED_TIMESTAMP,CLOUD_LOW_TYPE_CL,CLOUD_BASE_M_H,CLOUD_PEAK_M,CLOUD_ELEVATION_ANGLE_EC,CLOUD_LOW_MED_AMT_OKTAS,CLOUD_MED_TYPE_CM,CLOUD_HIGH_TYPE_CH,...,CLOUD_LAYER_4_TYPE_C,CLOUD_LAYER_4_HEIGHT_M_HSHS,CLOUD_LAYER_4_AMT_OKTAS_NS,CLOUD_BASE_2_M_H,CLOUD_BASE_3_M_H,CLOUD_PEAK_2_M,CLOUD_DIRECTION_2_ANGLE_DA,CLOUD_ELEVATION_2_ANGLE_EC,ENCODED_SYNOP,OBSERVER_ID
0,96581,2/1/2009 10:00:00 +00,16/2/2016 13:38:55.291936 +00,9.0,300.0,9000.0,2.0,4.0,7,/,...,4.0,3600.0,8.0,330.0,NaN,3000.0,3.0,NaN,NaN,NaN
1,96581,2/1/2009 11:00:00 +00,16/2/2016 13:38:55.359041 +00,9.0,330.0,9000.0,2.0,4.0,7,0,...,4.0,3600.0,6.0,360.0,NaN,3000.0,3.0,NaN,NaN,NaN
2,96581,2/1/2009 12:00:00 +00,16/2/2016 13:38:55.397364 +00,9.0,330.0,9000.0,2.0,4.0,7,0,...,4.0,3600.0,6.0,360.0,NaN,3000.0,3.0,NaN,NaN,NaN
3,96581,13/1/2009 01:00:00 +00,16/2/2016 13:38:55.454217 +00,1.0,360.0,2100.0,NaN,4.0,3,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,96581,13/1/2009 02:00:00 +00,16/2/2016 13:38:55.476923 +00,1.0,360.0,2100.0,NaN,4.0,3,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN