In [86]:
import pandas as pd

df = pd.read_csv('96581_supadi_1991_2020_2sinop.csv')

C:\Users\gukgu\AppData\Local\Temp\ipykernel_18288\3623621072.py:3: DtypeWarning: Columns (0,1,2,3,7,8,9,14,15,16,19,20,23,24,48,49,54,55,57,58,60,66) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('96581_supadi_1991_2020_2sinop.csv')

In [87]:
df.head()

,WMO_ID,DATA_TIMESTAMP,RECEIVED_TIMESTAMP,CLOUD_LOW_TYPE_CL,CLOUD_BASE_M_H,CLOUD_PEAK_M,CLOUD_ELEVATION_ANGLE_EC,CLOUD_LOW_MED_AMT_OKTAS,CLOUD_MED_TYPE_CM,CLOUD_HIGH_TYPE_CH,...,CLOUD_LAYER_4_TYPE_C,CLOUD_LAYER_4_HEIGHT_M_HSHS,CLOUD_LAYER_4_AMT_OKTAS_NS,CLOUD_BASE_2_M_H,CLOUD_BASE_3_M_H,CLOUD_PEAK_2_M,CLOUD_DIRECTION_2_ANGLE_DA,CLOUD_ELEVATION_2_ANGLE_EC,ENCODED_SYNOP,OBSERVER_ID
0,96581,18/11/2014 13:00:00 +00,19/11/2014 09:40:38.667339 +00,1,330.0,3000.0,NaN,5,3,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,96581,18/11/2014 14:00:00 +00,19/11/2014 09:40:38.69094 +00,1,360.0,3000.0,NaN,4,3,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,96581,18/11/2014 15:00:00 +00,19/11/2014 09:40:38.716383 +00,1,360.0,3000.0,NaN,4,3,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,96581,18/11/2014 16:00:00 +00,19/11/2014 09:40:38.740108 +00,1,360.0,3000.0,NaN,4,3,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,96581,18/11/2014 17:00:00 +00,19/11/2014 09:40:38.761787 +00,1,360.0,3000.0,NaN,4,3,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [88]:
df.columns

Index(['WMO_ID', 'DATA_TIMESTAMP', 'RECEIVED_TIMESTAMP', 'CLOUD_LOW_TYPE_CL',
       'CLOUD_BASE_M_H', 'CLOUD_PEAK_M', 'CLOUD_ELEVATION_ANGLE_EC',
       'CLOUD_LOW_MED_AMT_OKTAS', 'CLOUD_MED_TYPE_CM', 'CLOUD_HIGH_TYPE_CH',
       'CLOUD_MED_DIR_DM', 'CLOUD_MED_HEIGHT_M', 'CLOUD_HIGH_DIR_DH',
       'CLOUD_HIGH_HEIGHT_M', 'CLOUD_COVER_OKTAS_M', 'CLOUD_LAYER_1_TYPE_C',
       'CLOUD_LAYER_2_TYPE_C', 'CLOUD_LAYER_1_HEIGHT_M_HSHS',
       'CLOUD_LAYER_2_HEIGHT_M_HSHS', 'CLOUD_LAYER_1_AMT_OKTAS_NS',
       'CLOUD_LAYER_2_AMT_OKTAS_NS', 'EVAPORATION_24HOURS_MM_EEE',
       'EVAPORATION_EQ_INDICATOR_IE', 'LAND_COND', 'LAND_NOTE',
       'PAST_WEATHER_W1', 'PAST_WEATHER_W2', 'PRESENT_WEATHER_WW',
       'PRESSURE_TEND_3H_MB_PPP', 'PRESSURE_READING_MB', 'PRESSURE_TEMP_C',
       'RAINFALL_24H_RRRR', 'RAINFALL_6H_RRR', 'RAINFALL_INDICATOR_IR',
       'RAINFALL_LAST_MM', 'SOLAR_RAD_24H_JCM2_F24', 'SUNSHINE_H_SSS',
       'TEMP_DEWPOINT_C_TDTDTD', 'TEMP_DRYBULB_C_TTTTTT', 'TEMP_MAX_C_TXTXTX',
       'TEMP_MIN_C_TNTNTN', 'TEMP_WETBULB_C', 'VISIBILITY_VV',
       'WEATHER_INDICATOR_IX', 'WIND_DIR_DEG_DD', 'WIND_INDICATOR_IW',
       'WIND_SPEED_FF', 'CLOUD_DIRECTION_ANGLE_DA', 'CLOUD_MED_COVER_OKTAS',
       'CLOUD_HIGH_COVER_OKTAS', 'RELATIVE_HUMIDITY_PC',
       'PRESSURE_QFF_MB_DERIVED', 'PRESSURE_QFE_MB_DERIVED',
       'PRESSURE_TEND_24H_MB_PPP', 'ENTRY_USER', 'CLOUD_LAYER_3_TYPE_C',
       'CLOUD_LAYER_3_HEIGHT_M_HSHS', 'CLOUD_LAYER_3_AMT_OKTAS_NS',
       'CLOUD_LAYER_4_TYPE_C', 'CLOUD_LAYER_4_HEIGHT_M_HSHS',
       'CLOUD_LAYER_4_AMT_OKTAS_NS', 'CLOUD_BASE_2_M_H', 'CLOUD_BASE_3_M_H',
       'CLOUD_PEAK_2_M', 'CLOUD_DIRECTION_2_ANGLE_DA',
       'CLOUD_ELEVATION_2_ANGLE_EC', 'ENCODED_SYNOP', 'OBSERVER_ID'],
      dtype='object')

In [89]:
df.columns = ['WMO_ID', 'TIME', 'RECEIVED_TIMESTAMP', 'CLOUD_LOW_TYPE_CL',
       'CLOUD_BASE_M_H', 'CLOUD_PEAK_M', 'CLOUD_ELEVATION_ANGLE_EC',
       'CLOUD_LOW_MED_AMT_OKTAS', 'CLOUD_MED_TYPE_CM', 'CLOUD_HIGH_TYPE_CH',
       'CLOUD_MED_DIR_DM', 'CLOUD_MED_HEIGHT_M', 'CLOUD_HIGH_DIR_DH',
       'CLOUD_HIGH_HEIGHT_M', 'CLOUD_COVER_OKTAS_M', 'CLOUD_LAYER_1_TYPE_C',
       'CLOUD_LAYER_2_TYPE_C', 'CLOUD_LAYER_1_HEIGHT_M_HSHS',
       'CLOUD_LAYER_2_HEIGHT_M_HSHS', 'CLOUD_LAYER_1_AMT_OKTAS_NS',
       'CLOUD_LAYER_2_AMT_OKTAS_NS', 'EVAPORATION_24HOURS_MM_EEE',
       'EVAPORATION_EQ_INDICATOR_IE', 'LAND_COND', 'LAND_NOTE',
       'PAST_WEATHER_W1', 'PAST_WEATHER_W2', 'PRESENT_WEATHER_WW',
       'PRESSURE_TEND_3H_MB_PPP', 'PRESSURE_READING_MB', 'PRESSURE_TEMP_C',
       'RAINFALL_24H_RRRR', 'RAINFALL_6H_RRR', 'RAINFALL_INDICATOR_IR',
       'RAINFALL_LAST_MM', 'SOLAR_RAD_24H_JCM2_F24', 'SUNSHINE_H_SSS',
       'TEMP_DEWPOINT_C_TDTDTD', 'TEMP_DRYBULB_C_TTTTTT', 'TEMP_MAX_C_TXTXTX',
       'TEMP_MIN_C_TNTNTN', 'TEMP_WETBULB_C', 'VISIBILITY_VV',
       'WEATHER_INDICATOR_IX', 'WIND_DIR_DEG_DD', 'WIND_INDICATOR_IW',
       'WIND_SPEED_FF', 'CLOUD_DIRECTION_ANGLE_DA', 'CLOUD_MED_COVER_OKTAS',
       'CLOUD_HIGH_COVER_OKTAS', 'RELATIVE_HUMIDITY_PC',
       'PRESSURE_QFF_MB_DERIVED', 'PRESSURE_QFE_MB_DERIVED',
       'PRESSURE_TEND_24H_MB_PPP', 'ENTRY_USER', 'CLOUD_LAYER_3_TYPE_C',
       'CLOUD_LAYER_3_HEIGHT_M_HSHS', 'CLOUD_LAYER_3_AMT_OKTAS_NS',
       'CLOUD_LAYER_4_TYPE_C', 'CLOUD_LAYER_4_HEIGHT_M_HSHS',
       'CLOUD_LAYER_4_AMT_OKTAS_NS', 'CLOUD_BASE_2_M_H', 'CLOUD_BASE_3_M_H',
       'CLOUD_PEAK_2_M', 'CLOUD_DIRECTION_2_ANGLE_DA',
       'CLOUD_ELEVATION_2_ANGLE_EC', 'ENCODED_SYNOP', 'OBSERVER_ID']
df.columns

Index(['WMO_ID', 'TIME', 'RECEIVED_TIMESTAMP', 'CLOUD_LOW_TYPE_CL',
       'CLOUD_BASE_M_H', 'CLOUD_PEAK_M', 'CLOUD_ELEVATION_ANGLE_EC',
       'CLOUD_LOW_MED_AMT_OKTAS', 'CLOUD_MED_TYPE_CM', 'CLOUD_HIGH_TYPE_CH',
       'CLOUD_MED_DIR_DM', 'CLOUD_MED_HEIGHT_M', 'CLOUD_HIGH_DIR_DH',
       'CLOUD_HIGH_HEIGHT_M', 'CLOUD_COVER_OKTAS_M', 'CLOUD_LAYER_1_TYPE_C',
       'CLOUD_LAYER_2_TYPE_C', 'CLOUD_LAYER_1_HEIGHT_M_HSHS',
       'CLOUD_LAYER_2_HEIGHT_M_HSHS', 'CLOUD_LAYER_1_AMT_OKTAS_NS',
       'CLOUD_LAYER_2_AMT_OKTAS_NS', 'EVAPORATION_24HOURS_MM_EEE',
       'EVAPORATION_EQ_INDICATOR_IE', 'LAND_COND', 'LAND_NOTE',
       'PAST_WEATHER_W1', 'PAST_WEATHER_W2', 'PRESENT_WEATHER_WW',
       'PRESSURE_TEND_3H_MB_PPP', 'PRESSURE_READING_MB', 'PRESSURE_TEMP_C',
       'RAINFALL_24H_RRRR', 'RAINFALL_6H_RRR', 'RAINFALL_INDICATOR_IR',
       'RAINFALL_LAST_MM', 'SOLAR_RAD_24H_JCM2_F24', 'SUNSHINE_H_SSS',
       'TEMP_DEWPOINT_C_TDTDTD', 'TEMP_DRYBULB_C_TTTTTT', 'TEMP_MAX_C_TXTXTX',
       'TEMP_MIN_C_TNTNTN', 'TEMP_WETBULB_C', 'VISIBILITY_VV',
       'WEATHER_INDICATOR_IX', 'WIND_DIR_DEG_DD', 'WIND_INDICATOR_IW',
       'WIND_SPEED_FF', 'CLOUD_DIRECTION_ANGLE_DA', 'CLOUD_MED_COVER_OKTAS',
       'CLOUD_HIGH_COVER_OKTAS', 'RELATIVE_HUMIDITY_PC',
       'PRESSURE_QFF_MB_DERIVED', 'PRESSURE_QFE_MB_DERIVED',
       'PRESSURE_TEND_24H_MB_PPP', 'ENTRY_USER', 'CLOUD_LAYER_3_TYPE_C',
       'CLOUD_LAYER_3_HEIGHT_M_HSHS', 'CLOUD_LAYER_3_AMT_OKTAS_NS',
       'CLOUD_LAYER_4_TYPE_C', 'CLOUD_LAYER_4_HEIGHT_M_HSHS',
       'CLOUD_LAYER_4_AMT_OKTAS_NS', 'CLOUD_BASE_2_M_H', 'CLOUD_BASE_3_M_H',
       'CLOUD_PEAK_2_M', 'CLOUD_DIRECTION_2_ANGLE_DA',
       'CLOUD_ELEVATION_2_ANGLE_EC', 'ENCODED_SYNOP', 'OBSERVER_ID'],
      dtype='object')

In [90]:
df.head()

,WMO_ID,TIME,RECEIVED_TIMESTAMP,CLOUD_LOW_TYPE_CL,CLOUD_BASE_M_H,CLOUD_PEAK_M,CLOUD_ELEVATION_ANGLE_EC,CLOUD_LOW_MED_AMT_OKTAS,CLOUD_MED_TYPE_CM,CLOUD_HIGH_TYPE_CH,...,CLOUD_LAYER_4_TYPE_C,CLOUD_LAYER_4_HEIGHT_M_HSHS,CLOUD_LAYER_4_AMT_OKTAS_NS,CLOUD_BASE_2_M_H,CLOUD_BASE_3_M_H,CLOUD_PEAK_2_M,CLOUD_DIRECTION_2_ANGLE_DA,CLOUD_ELEVATION_2_ANGLE_EC,ENCODED_SYNOP,OBSERVER_ID
0,96581,18/11/2014 13:00:00 +00,19/11/2014 09:40:38.667339 +00,1,330.0,3000.0,NaN,5,3,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,96581,18/11/2014 14:00:00 +00,19/11/2014 09:40:38.69094 +00,1,360.0,3000.0,NaN,4,3,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,96581,18/11/2014 15:00:00 +00,19/11/2014 09:40:38.716383 +00,1,360.0,3000.0,NaN,4,3,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,96581,18/11/2014 16:00:00 +00,19/11/2014 09:40:38.740108 +00,1,360.0,3000.0,NaN,4,3,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,96581,18/11/2014 17:00:00 +00,19/11/2014 09:40:38.761787 +00,1,360.0,3000.0,NaN,4,3,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [91]:
df[['DATE', 'HOUR', 'trash']] = df['TIME'].str.split(' ', expand=True)
df.drop(columns=['RECEIVED_TIMESTAMP','trash','TIME'],inplace=True)
df.head()

,WMO_ID,CLOUD_LOW_TYPE_CL,CLOUD_BASE_M_H,CLOUD_PEAK_M,CLOUD_ELEVATION_ANGLE_EC,CLOUD_LOW_MED_AMT_OKTAS,CLOUD_MED_TYPE_CM,CLOUD_HIGH_TYPE_CH,CLOUD_MED_DIR_DM,CLOUD_MED_HEIGHT_M,...,CLOUD_LAYER_4_AMT_OKTAS_NS,CLOUD_BASE_2_M_H,CLOUD_BASE_3_M_H,CLOUD_PEAK_2_M,CLOUD_DIRECTION_2_ANGLE_DA,CLOUD_ELEVATION_2_ANGLE_EC,ENCODED_SYNOP,OBSERVER_ID,DATE,HOUR
0,96581,1,330.0,3000.0,NaN,5,3,1,0.0,3600.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18/11/2014,13:00:00
1,96581,1,360.0,3000.0,NaN,4,3,1,0.0,3600.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18/11/2014,14:00:00
2,96581,1,360.0,3000.0,NaN,4,3,1,0.0,3600.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18/11/2014,15:00:00
3,96581,1,360.0,3000.0,NaN,4,3,1,0.0,3600.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18/11/2014,16:00:00
4,96581,1,360.0,3000.0,NaN,4,3,1,0.0,3600.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18/11/2014,17:00:00

In [92]:
df[['DD', 'MM', 'YY']] = df['DATE'].str.split('/', expand=True)
df[['HH', 'Trash_1', 'Trash_2']] = df['HOUR'].str.split(':', expand=True)
df.drop(columns=['Trash_1','Trash_2'],inplace=True)
df.head()

,WMO_ID,CLOUD_LOW_TYPE_CL,CLOUD_BASE_M_H,CLOUD_PEAK_M,CLOUD_ELEVATION_ANGLE_EC,CLOUD_LOW_MED_AMT_OKTAS,CLOUD_MED_TYPE_CM,CLOUD_HIGH_TYPE_CH,CLOUD_MED_DIR_DM,CLOUD_MED_HEIGHT_M,...,CLOUD_DIRECTION_2_ANGLE_DA,CLOUD_ELEVATION_2_ANGLE_EC,ENCODED_SYNOP,OBSERVER_ID,DATE,HOUR,DD,MM,YY,HH
0,96581,1,330.0,3000.0,NaN,5,3,1,0.0,3600.0,...,NaN,NaN,NaN,NaN,18/11/2014,13:00:00,18,11,2014,13
1,96581,1,360.0,3000.0,NaN,4,3,1,0.0,3600.0,...,NaN,NaN,NaN,NaN,18/11/2014,14:00:00,18,11,2014,14
2,96581,1,360.0,3000.0,NaN,4,3,1,0.0,3600.0,...,NaN,NaN,NaN,NaN,18/11/2014,15:00:00,18,11,2014,15
3,96581,1,360.0,3000.0,NaN,4,3,1,0.0,3600.0,...,NaN,NaN,NaN,NaN,18/11/2014,16:00:00,18,11,2014,16
4,96581,1,360.0,3000.0,NaN,4,3,1,0.0,3600.0,...,NaN,NaN,NaN,NaN,18/11/2014,17:00:00,18,11,2014,17

In [93]:
df.columns

Index(['WMO_ID', 'CLOUD_LOW_TYPE_CL', 'CLOUD_BASE_M_H', 'CLOUD_PEAK_M',
       'CLOUD_ELEVATION_ANGLE_EC', 'CLOUD_LOW_MED_AMT_OKTAS',
       'CLOUD_MED_TYPE_CM', 'CLOUD_HIGH_TYPE_CH', 'CLOUD_MED_DIR_DM',
       'CLOUD_MED_HEIGHT_M', 'CLOUD_HIGH_DIR_DH', 'CLOUD_HIGH_HEIGHT_M',
       'CLOUD_COVER_OKTAS_M', 'CLOUD_LAYER_1_TYPE_C', 'CLOUD_LAYER_2_TYPE_C',
       'CLOUD_LAYER_1_HEIGHT_M_HSHS', 'CLOUD_LAYER_2_HEIGHT_M_HSHS',
       'CLOUD_LAYER_1_AMT_OKTAS_NS', 'CLOUD_LAYER_2_AMT_OKTAS_NS',
       'EVAPORATION_24HOURS_MM_EEE', 'EVAPORATION_EQ_INDICATOR_IE',
       'LAND_COND', 'LAND_NOTE', 'PAST_WEATHER_W1', 'PAST_WEATHER_W2',
       'PRESENT_WEATHER_WW', 'PRESSURE_TEND_3H_MB_PPP', 'PRESSURE_READING_MB',
       'PRESSURE_TEMP_C', 'RAINFALL_24H_RRRR', 'RAINFALL_6H_RRR',
       'RAINFALL_INDICATOR_IR', 'RAINFALL_LAST_MM', 'SOLAR_RAD_24H_JCM2_F24',
       'SUNSHINE_H_SSS', 'TEMP_DEWPOINT_C_TDTDTD', 'TEMP_DRYBULB_C_TTTTTT',
       'TEMP_MAX_C_TXTXTX', 'TEMP_MIN_C_TNTNTN', 'TEMP_WETBULB_C',
       'VISIBILITY_VV', 'WEATHER_INDICATOR_IX', 'WIND_DIR_DEG_DD',
       'WIND_INDICATOR_IW', 'WIND_SPEED_FF', 'CLOUD_DIRECTION_ANGLE_DA',
       'CLOUD_MED_COVER_OKTAS', 'CLOUD_HIGH_COVER_OKTAS',
       'RELATIVE_HUMIDITY_PC', 'PRESSURE_QFF_MB_DERIVED',
       'PRESSURE_QFE_MB_DERIVED', 'PRESSURE_TEND_24H_MB_PPP', 'ENTRY_USER',
       'CLOUD_LAYER_3_TYPE_C', 'CLOUD_LAYER_3_HEIGHT_M_HSHS',
       'CLOUD_LAYER_3_AMT_OKTAS_NS', 'CLOUD_LAYER_4_TYPE_C',
       'CLOUD_LAYER_4_HEIGHT_M_HSHS', 'CLOUD_LAYER_4_AMT_OKTAS_NS',
       'CLOUD_BASE_2_M_H', 'CLOUD_BASE_3_M_H', 'CLOUD_PEAK_2_M',
       'CLOUD_DIRECTION_2_ANGLE_DA', 'CLOUD_ELEVATION_2_ANGLE_EC',
       'ENCODED_SYNOP', 'OBSERVER_ID', 'DATE', 'HOUR', 'DD', 'MM', 'YY', 'HH'],
      dtype='object')

In [94]:
df['Station'] = 'Stasiun Meteorologi Supadio'
df

,WMO_ID,CLOUD_LOW_TYPE_CL,CLOUD_BASE_M_H,CLOUD_PEAK_M,CLOUD_ELEVATION_ANGLE_EC,CLOUD_LOW_MED_AMT_OKTAS,CLOUD_MED_TYPE_CM,CLOUD_HIGH_TYPE_CH,CLOUD_MED_DIR_DM,CLOUD_MED_HEIGHT_M,...,CLOUD_ELEVATION_2_ANGLE_EC,ENCODED_SYNOP,OBSERVER_ID,DATE,HOUR,DD,MM,YY,HH,Station
0,96581,1,330.0,3000.0,NaN,5,3,1,0.0,3600.0,...,NaN,NaN,NaN,18/11/2014,13:00:00,18,11,2014,13,Stasiun Meteorologi Supadio
1,96581,1,360.0,3000.0,NaN,4,3,1,0.0,3600.0,...,NaN,NaN,NaN,18/11/2014,14:00:00,18,11,2014,14,Stasiun Meteorologi Supadio
2,96581,1,360.0,3000.0,NaN,4,3,1,0.0,3600.0,...,NaN,NaN,NaN,18/11/2014,15:00:00,18,11,2014,15,Stasiun Meteorologi Supadio
3,96581,1,360.0,3000.0,NaN,4,3,1,0.0,3600.0,...,NaN,NaN,NaN,18/11/2014,16:00:00,18,11,2014,16,Stasiun Meteorologi Supadio
4,96581,1,360.0,3000.0,NaN,4,3,1,0.0,3600.0,...,NaN,NaN,NaN,18/11/2014,17:00:00,18,11,2014,17,Stasiun Meteorologi Supadio
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132184,"333 56009 85809 86462="",2152",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Stasiun Meteorologi Supadio
132185,"96581,31/12/2020 23:00:00 +00,1/1/2021 06:03:2...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Stasiun Meteorologi Supadio
132186,AAXX 31234,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Stasiun Meteorologi Supadio
132187,96581 42356 80904 10234 20226 30088 40095 8517/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Stasiun Meteorologi Supadio
132188,"333 56209 85808 86462="",2152",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Stasiun Meteorologi Supadio

In [95]:
new_df = df[['WMO_ID','Station','YY', 'MM', 'DD',  'HH', 'DATE', 'HOUR','CLOUD_LOW_TYPE_CL', 'CLOUD_BASE_M_H', 'CLOUD_PEAK_M',
       'CLOUD_ELEVATION_ANGLE_EC', 'CLOUD_LOW_MED_AMT_OKTAS',
       'CLOUD_MED_TYPE_CM', 'CLOUD_HIGH_TYPE_CH', 'CLOUD_MED_DIR_DM',
       'CLOUD_MED_HEIGHT_M', 'CLOUD_HIGH_DIR_DH', 'CLOUD_HIGH_HEIGHT_M',
       'CLOUD_COVER_OKTAS_M', 'CLOUD_LAYER_1_TYPE_C', 'CLOUD_LAYER_2_TYPE_C',
       'CLOUD_LAYER_1_HEIGHT_M_HSHS', 'CLOUD_LAYER_2_HEIGHT_M_HSHS',
       'CLOUD_LAYER_1_AMT_OKTAS_NS', 'CLOUD_LAYER_2_AMT_OKTAS_NS',
       'EVAPORATION_24HOURS_MM_EEE', 'EVAPORATION_EQ_INDICATOR_IE',
       'LAND_COND', 'LAND_NOTE', 'PAST_WEATHER_W1', 'PAST_WEATHER_W2',
       'PRESENT_WEATHER_WW', 'PRESSURE_TEND_3H_MB_PPP', 'PRESSURE_READING_MB',
       'PRESSURE_TEMP_C', 'RAINFALL_24H_RRRR', 'RAINFALL_6H_RRR',
       'RAINFALL_INDICATOR_IR', 'RAINFALL_LAST_MM', 'SOLAR_RAD_24H_JCM2_F24',
       'SUNSHINE_H_SSS', 'TEMP_DEWPOINT_C_TDTDTD', 'TEMP_DRYBULB_C_TTTTTT',
       'TEMP_MAX_C_TXTXTX', 'TEMP_MIN_C_TNTNTN', 'TEMP_WETBULB_C',
       'VISIBILITY_VV', 'WEATHER_INDICATOR_IX', 'WIND_DIR_DEG_DD',
       'WIND_INDICATOR_IW', 'WIND_SPEED_FF', 'CLOUD_DIRECTION_ANGLE_DA',
       'CLOUD_MED_COVER_OKTAS', 'CLOUD_HIGH_COVER_OKTAS',
       'RELATIVE_HUMIDITY_PC', 'PRESSURE_QFF_MB_DERIVED',
       'PRESSURE_QFE_MB_DERIVED', 'PRESSURE_TEND_24H_MB_PPP', 'ENTRY_USER',
       'CLOUD_LAYER_3_TYPE_C', 'CLOUD_LAYER_3_HEIGHT_M_HSHS',
       'CLOUD_LAYER_3_AMT_OKTAS_NS', 'CLOUD_LAYER_4_TYPE_C',
       'CLOUD_LAYER_4_HEIGHT_M_HSHS', 'CLOUD_LAYER_4_AMT_OKTAS_NS',
       'CLOUD_BASE_2_M_H', 'CLOUD_BASE_3_M_H', 'CLOUD_PEAK_2_M',
       'CLOUD_DIRECTION_2_ANGLE_DA', 'CLOUD_ELEVATION_2_ANGLE_EC',
       'ENCODED_SYNOP', 'OBSERVER_ID']]
new_df.drop(columns=['DATE','HOUR'],inplace=True)
new_df.head()

C:\Users\gukgu\AppData\Local\Temp\ipykernel_18288\290243682.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.drop(columns=['DATE','HOUR'],inplace=True)

,WMO_ID,Station,YY,MM,DD,HH,CLOUD_LOW_TYPE_CL,CLOUD_BASE_M_H,CLOUD_PEAK_M,CLOUD_ELEVATION_ANGLE_EC,...,CLOUD_LAYER_4_TYPE_C,CLOUD_LAYER_4_HEIGHT_M_HSHS,CLOUD_LAYER_4_AMT_OKTAS_NS,CLOUD_BASE_2_M_H,CLOUD_BASE_3_M_H,CLOUD_PEAK_2_M,CLOUD_DIRECTION_2_ANGLE_DA,CLOUD_ELEVATION_2_ANGLE_EC,ENCODED_SYNOP,OBSERVER_ID
0,96581,Stasiun Meteorologi Supadio,2014,11,18,13,1,330.0,3000.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,96581,Stasiun Meteorologi Supadio,2014,11,18,14,1,360.0,3000.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,96581,Stasiun Meteorologi Supadio,2014,11,18,15,1,360.0,3000.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,96581,Stasiun Meteorologi Supadio,2014,11,18,16,1,360.0,3000.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,96581,Stasiun Meteorologi Supadio,2014,11,18,17,1,360.0,3000.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [96]:
new_df.columns

Index(['WMO_ID', 'Station', 'YY', 'MM', 'DD', 'HH', 'CLOUD_LOW_TYPE_CL',
       'CLOUD_BASE_M_H', 'CLOUD_PEAK_M', 'CLOUD_ELEVATION_ANGLE_EC',
       'CLOUD_LOW_MED_AMT_OKTAS', 'CLOUD_MED_TYPE_CM', 'CLOUD_HIGH_TYPE_CH',
       'CLOUD_MED_DIR_DM', 'CLOUD_MED_HEIGHT_M', 'CLOUD_HIGH_DIR_DH',
       'CLOUD_HIGH_HEIGHT_M', 'CLOUD_COVER_OKTAS_M', 'CLOUD_LAYER_1_TYPE_C',
       'CLOUD_LAYER_2_TYPE_C', 'CLOUD_LAYER_1_HEIGHT_M_HSHS',
       'CLOUD_LAYER_2_HEIGHT_M_HSHS', 'CLOUD_LAYER_1_AMT_OKTAS_NS',
       'CLOUD_LAYER_2_AMT_OKTAS_NS', 'EVAPORATION_24HOURS_MM_EEE',
       'EVAPORATION_EQ_INDICATOR_IE', 'LAND_COND', 'LAND_NOTE',
       'PAST_WEATHER_W1', 'PAST_WEATHER_W2', 'PRESENT_WEATHER_WW',
       'PRESSURE_TEND_3H_MB_PPP', 'PRESSURE_READING_MB', 'PRESSURE_TEMP_C',
       'RAINFALL_24H_RRRR', 'RAINFALL_6H_RRR', 'RAINFALL_INDICATOR_IR',
       'RAINFALL_LAST_MM', 'SOLAR_RAD_24H_JCM2_F24', 'SUNSHINE_H_SSS',
       'TEMP_DEWPOINT_C_TDTDTD', 'TEMP_DRYBULB_C_TTTTTT', 'TEMP_MAX_C_TXTXTX',
       'TEMP_MIN_C_TNTNTN', 'TEMP_WETBULB_C', 'VISIBILITY_VV',
       'WEATHER_INDICATOR_IX', 'WIND_DIR_DEG_DD', 'WIND_INDICATOR_IW',
       'WIND_SPEED_FF', 'CLOUD_DIRECTION_ANGLE_DA', 'CLOUD_MED_COVER_OKTAS',
       'CLOUD_HIGH_COVER_OKTAS', 'RELATIVE_HUMIDITY_PC',
       'PRESSURE_QFF_MB_DERIVED', 'PRESSURE_QFE_MB_DERIVED',
       'PRESSURE_TEND_24H_MB_PPP', 'ENTRY_USER', 'CLOUD_LAYER_3_TYPE_C',
       'CLOUD_LAYER_3_HEIGHT_M_HSHS', 'CLOUD_LAYER_3_AMT_OKTAS_NS',
       'CLOUD_LAYER_4_TYPE_C', 'CLOUD_LAYER_4_HEIGHT_M_HSHS',
       'CLOUD_LAYER_4_AMT_OKTAS_NS', 'CLOUD_BASE_2_M_H', 'CLOUD_BASE_3_M_H',
       'CLOUD_PEAK_2_M', 'CLOUD_DIRECTION_2_ANGLE_DA',
       'CLOUD_ELEVATION_2_ANGLE_EC', 'ENCODED_SYNOP', 'OBSERVER_ID'],
      dtype='object')

In [97]:
new_df.columns = ['NoSta', 'Station', 'YY', 'MM', 'DD', 'HH', 'CL',
       'h', 'cloud_low_peak_1', 'EC',
       'Nh', 'CM', 'CH',
       'DM', 'cloud_med_base_1', 'DH',
       'cloud_high_base_1', 'N', 'cloud_layer_1_type_c',
       'cloud_layer_2_type_c', 'Hshs_1',
       'Hshs_2', 'cloud_layer_1_amt_oktas_ns',
       'Ns_2', 'EEE',
       'iE', 'E', 'land_note',
       'W1', 'W2', 'ww',
       'pressure_tend_3h_mb_ppp', 'pressure_reading_mb', 'pressure_temp_c',
       'RRR', 'rainfall_6h_rrr', 'iR',
       'rainfall_last_mm', 'F24F24F24F24', 'SSS',
       'TdTdTd', 'TtTtTt', 'TxTxTx',
       'TnTnTn', 'TwTwTw', 'VV',
       'iX', 'dd', 'iW',
       'ff', 'DL', 'cloud_med_cover_oktas',
       'cloud_high_cover_oktas', 'UU',
       'QFF', 'QFE',
       'P24P24P24', 'entry_user', 'C_3',
       'Hshs_3', 'Ns_3',
       'cloud_layer_4_type_c', 'cloud_layer_4_height_m_hshs',
       'cloud_layer_4_amt_oktas_ns', 'cloud_low_base_2', 'cloud_low_base_3',
       'cloud_low_peak_2', 'cloud_low_dir_2',
       'cloud_elevation_angle_ec_2', 'encoded_synop', 'observer_id']
new_df.head()

,NoSta,Station,YY,MM,DD,HH,CL,h,cloud_low_peak_1,EC,...,cloud_layer_4_type_c,cloud_layer_4_height_m_hshs,cloud_layer_4_amt_oktas_ns,cloud_low_base_2,cloud_low_base_3,cloud_low_peak_2,cloud_low_dir_2,cloud_elevation_angle_ec_2,encoded_synop,observer_id
0,96581,Stasiun Meteorologi Supadio,2014,11,18,13,1,330.0,3000.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,96581,Stasiun Meteorologi Supadio,2014,11,18,14,1,360.0,3000.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,96581,Stasiun Meteorologi Supadio,2014,11,18,15,1,360.0,3000.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,96581,Stasiun Meteorologi Supadio,2014,11,18,16,1,360.0,3000.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,96581,Stasiun Meteorologi Supadio,2014,11,18,17,1,360.0,3000.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [98]:
new_df.fillna(9999, inplace = True)
new_df = new_df.replace(['/'],9999)
new_df

C:\Users\gukgu\AppData\Local\Temp\ipykernel_18288\962530669.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.fillna(9999, inplace = True)

,NoSta,Station,YY,MM,DD,HH,CL,h,cloud_low_peak_1,EC,...,cloud_layer_4_type_c,cloud_layer_4_height_m_hshs,cloud_layer_4_amt_oktas_ns,cloud_low_base_2,cloud_low_base_3,cloud_low_peak_2,cloud_low_dir_2,cloud_elevation_angle_ec_2,encoded_synop,observer_id
0,96581,Stasiun Meteorologi Supadio,2014,11,18,13,1,330.0,3000.0,9999.0,...,9999,9999.0,9999,9999.0,9999.0,9999.0,9999.0,9999.0,9999,9999.0
1,96581,Stasiun Meteorologi Supadio,2014,11,18,14,1,360.0,3000.0,9999.0,...,9999,9999.0,9999,9999.0,9999.0,9999.0,9999.0,9999.0,9999,9999.0
2,96581,Stasiun Meteorologi Supadio,2014,11,18,15,1,360.0,3000.0,9999.0,...,9999,9999.0,9999,9999.0,9999.0,9999.0,9999.0,9999.0,9999,9999.0
3,96581,Stasiun Meteorologi Supadio,2014,11,18,16,1,360.0,3000.0,9999.0,...,9999,9999.0,9999,9999.0,9999.0,9999.0,9999.0,9999.0,9999,9999.0
4,96581,Stasiun Meteorologi Supadio,2014,11,18,17,1,360.0,3000.0,9999.0,...,9999,9999.0,9999,9999.0,9999.0,9999.0,9999.0,9999.0,9999,9999.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132184,"333 56009 85809 86462="",2152",Stasiun Meteorologi Supadio,9999,9999,9999,9999,9999,9999.0,9999.0,9999.0,...,9999,9999.0,9999,9999.0,9999.0,9999.0,9999.0,9999.0,9999,9999.0
132185,"96581,31/12/2020 23:00:00 +00,1/1/2021 06:03:2...",Stasiun Meteorologi Supadio,9999,9999,9999,9999,9999,9999.0,9999.0,9999.0,...,9999,9999.0,9999,9999.0,9999.0,9999.0,9999.0,9999.0,9999,9999.0
132186,AAXX 31234,Stasiun Meteorologi Supadio,9999,9999,9999,9999,9999,9999.0,9999.0,9999.0,...,9999,9999.0,9999,9999.0,9999.0,9999.0,9999.0,9999.0,9999,9999.0
132187,96581 42356 80904 10234 20226 30088 40095 8517/,Stasiun Meteorologi Supadio,9999,9999,9999,9999,9999,9999.0,9999.0,9999.0,...,9999,9999.0,9999,9999.0,9999.0,9999.0,9999.0,9999.0,9999,9999.0
132188,"333 56209 85808 86462="",2152",Stasiun Meteorologi Supadio,9999,9999,9999,9999,9999,9999.0,9999.0,9999.0,...,9999,9999.0,9999,9999.0,9999.0,9999.0,9999.0,9999.0,9999,9999.0

In [99]:
new_df['CDaEc'] = 9999

In [100]:
new_df.to_csv('out.csv')